COMPANY_NAME=""
TWITTER_CREATOR=""
TWITTER_SITE=""
SITE_NAME=""
SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_REVALIDATION_SECRET=

# SANITY
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=

# GoKwik
NEXT_PUBLIC_GOKWIK_MERCHANT_ID=""
NEXT_PUBLIC_GOKWIK_STORE_ID=""
NEXT_PUBLIC_GOKWIK_ENVIRONMENT=""
NEXT_PUBLIC_GOKWIK_FB_PIXEL=""
