COMPANY_NAME="WeSkate Co"
TWITTER_CREATOR="@weskateco"
TWITTER_SITE="https://weskateco.com"
SITE_NAME="WeSkate Co"
SHOPIFY_STORE_DOMAIN=gumfkb-x7.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=fbd019473f0c4aa6d82a713d782f6737
SHOPIFY_REVALIDATION_SECRET=ea5279a04811d336ed912e6aa5469982a1f6d2dd685f32a46c359ec023f9034d 

# SANITY
NEXT_PUBLIC_SANITY_PROJECT_ID=f25zmr6t
NEXT_PUBLIC_SANITY_DATASET=production

# GoKwik
NEXT_PUBLIC_GOKWIK_MERCHANT_ID=""
NEXT_PUBLIC_GOKWIK_STORE_ID=""
NEXT_PUBLIC_GOKWIK_ENVIRONMENT=""
NEXT_PUBLIC_GOKWIK_FB_PIXEL=""
